<div class="jumbotron" style="margin:30px;">
  <br>
  <h1>
      Add Employee Details
  </h1>
  <br>
</div>



<form >
  <div class="form-group" style="margin:30px;">
      <label >Employee Id</label>
      <input type="text" class="form-control" placeholder="Ex-0001" #new_id/>
  </div>
  <div class="form-group" style="margin:30px;">
      <label >Employee Name</label>
      <input type="text" class="form-control" placeholder="Ex-Shrikant" #new_name/>
  </div>
  <div class="form-group" style="margin:30px;">
      <label >Employee Designation</label>
      <input type="text" class="form-control" placeholder="Android developer" #new_designation>
  </div>
</form>
 <button class="form-group" style="margin:30px;" (click)="add_detail(new_name.value,new_id.value,new_designation.value)">Add</button>

  
<!-- <h1>{{title}}</h1>

<input type="text" #new_name/>
<input type="text" #new_id/>
<input type="text" #new_designation/>
<button (click)="add_detail(new_name.value,new_id.value,new_designation.value)">Add</button>  -->

<!-- <table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Designation</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let detail of details">
    <td>{{detail.Employee_Id}}</td>
    <td>{{detail.Employee_Name}}</td>
    <td>{{detail.Employee_Designation}}</td>
    <td>
      <button (click)="delete_detail(detail)">Delete</button> 
    </td>
  </tr>
</table>  -->
<table class="table">
  <thead>
    <tr>
      
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Designation</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detail of details">
       
      <td>{{detail.Employee_Id}}</td>
      <td>{{detail.Employee_Name}}</td>
      <td>{{detail.Employee_Designation}}</td>
        <td><i (click)="delete_detail(detail)" class="fa fa-trash-o" style="font-size:22px"></i></td>
     
    </tr>
  </tbody>
</table>




